.header {
    margin: 0px auto 0px 10px;
    width: 100%;
}
.wrapper {
    width: auto;
    margin: 10px 15px 50px 15px;
}

.main {
    display: block;
}

.hr {
    width: auto;
    text-align: center;
}

.footer {
    width: 100%;
}

.copyright {
    text-align: center;
}